body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* new task | task-form */
.task-form {
  display: flex;
  gap: 5px;
  align-items: center;
}

.task-form input,
.task-form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

/* task-container */
.task-container {
  margin: 40px;
  padding: 20px;
  background-color: #f4f4f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}

h1{
  padding-left: 40px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .task-form {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .task-form input,
  .task-form select,
  .task-form button {
    width: 100%;
  }
}
